body, html{
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-image: url("doge.jpg");
    background-position: 50% 40%;
    background-size: cover;
    padding: 1em 1em 1em 2em;
    color: aliceblue;
}

h1{
    font-size: 2.5vw;
}

h2{
    font-size: 2vw;
}

h3{
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}

h4{
    font-size: 1.5vw;
    font-weight: bold;
}
p, table, li, div, .btn{
    font-size: 1.3vw;
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

nav li {
    margin: 1em 2em 0 0;
    padding: 0;
	display: inline-block;
}

nav a:link {
    color: #4080bf;
    text-decoration: none;
}

nav a:hover {
	color: #19334d;
}

.whole-body{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}
.courses, .links{
    width: 50%;
}
.about, .response{
    width: 100%;
}

section {
	margin: 1em 2em 2em 2em;
	padding: 1em;
    border-radius: 10px;
}

#about{
    background-color: #cce0ff;
}

#about img{
    max-width: 90%;
}

.intro-pic {
    display: flex;
    box-sizing: border-box;
    margin: 2em;
    flex-wrap: wrap;
}

.pic {
    width: 40%;
    text-align: right;
}
.self-intro {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
}
.intro{
    width: 60%;
    height: 30%;
}
.hobby {
    width: 100%;
    height: 70%;
}

.intro-pic{
    display: flex;
}

#hobbies {
	display: flex;
	flex-wrap: wrap;
}

#hobbies > div {
	background: white;
    margin: 1em;
    padding: 2em;
	text-align: center;
	color: darkcyan;
}

#courses {
    background-color: #ebfafa;
}

table{
    border-collapse: collapse;
    width: 100%;
}
td{
    padding: 1em 2em 1em 1em;
    text-align: left;
    border-top: 1px dotted #19334d;
}

th{
    padding: 1em 2em 1em 1em;
    text-align: left;
}

tr:hover {
    background-color: #ccfff2;
}

#links{
    background-color: #e6e6ff;
}
li{
    padding: 1em;
    text-decoration: none;
}
a{
    text-decoration: none;
}

#response{
    background-color: #d9e6f2;
}
footer{
    background: #2d5986;
    color: white;
	text-align: right;
    font-size: smaller;
    padding: 0.5em;
}

#fadein{
    opacity:0;
    transition:2s;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: white; 
    color: black; 
    padding: 0.5em;
    border: 1px solid #4080bf;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: #4080bf;
    color: white;
}

#taskbtn {
    text-align: center;
    width: 100%;
    display: none;
}

#taskbtn li {
    width: 15%;
}

.specialbtn{
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    color: #4080bf; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.specialbtn:hover{
    color: #19334d;
}

.progress{
    display: none;
    width: 100%;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#range-slider{
    display: none;
    width: 80%;
    margin: 0 auto;
}
/*specific for bootstrap*/
.btn{
    margin: 1em;
}

.nav-item{
    margin: 0 1em 0 1em;
}

@media screen and (max-width: 500px) {
    /*responsive navbar*/
    nav{
        width: 100%;
        text-align: center;
    }
    nav li{
        display: block;
        width: 100%;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #f2f2f2;
    }
    #taskbtn li{
        border-bottom: 0;
        width: 100%;
    }
    .btn {
        width:100%;
    }

    /*responsive sections*/
    section{
        margin: 0;
	    padding: 1em;
        border-radius: 0;
        width: 100%;
    }
    .whole-body{
        flex-wrap: nowrap;
        display: block;
    }
    .courses, .links{
        width: 100%;
    }

    /*responsive about flex*/
    .intro-pic{
        display: block;
        flex-wrap: nowrap;
    }
    .pic{
        width: 100%;
    }
    .self-intro{
        display: block;
        flex-wrap: nowrap;
        width: 100%;
    }
    .intro{
        width: 100%;
    }
    .hobby{
        width: 100%;
    }
    #hobbies {
      display: flex;
      flex-wrap: wrap;
    }
    
}
 